blis
catalogue
click
joblib
murMurHash
regex
srsly
thinc
tqdm
validators
Flask
flask-cors
pandas
validators
requests
spacy
docx2txt
pdfminer.six
pymongo
python-dotenv
matplotlib
seaborn
wordcloud
nltk
scikit-learn
pdfplumber
spacy
gunicorn
